# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6984107f001d794d3c29
NEXT_PUBLIC_DATABASE_ID=69843ba7000b363f2961
NEXT_PUBLIC_SERVICES_COLLECTION_ID=services
NEXT_PUBLIC_POSTS_COLLECTION_ID=posts
NEXT_PUBLIC_PROJECTS_COLLECTION_ID=projects
NEXT_PUBLIC_STORAGE_BUCKET_ID=69843fba001b3a343ee8

